# Our nexus proxy and auth
#registry=https://nexus.morosystems.cz/content/groups/npmjs-int-proxy/
#always-auth=true

# dependencies will be saved with exact versions when installed
save-exact=true

# will enforce npm & node versions if specified in package json
engine-strict=true

# less problems
optional=false
