@import "components/variables.scss";

.iconButton {
    &:global(.MuiIconButton-root) {
        width: $button_icon_size;
        height: $button_icon_size;
        padding: 10px;
        box-sizing: content-box;
        & svg {
            max-width: $button_icon_size;
        }
    }
}

.button {
    &.shared {
        width: 120px;
    }
    &.normalize {
        font-family: Montserrat, sans-serif !important;
        text-transform: none !important;
    }
    &.light {
        color: $nav_font_color;
        &:hover{
            background-color: rgba(252, 192, 0, 0.24);
        }
    }
    &.dark {
        color: $main_color;
        &:hover {
            background-color: rgba(252, 192, 0, 0.24);
        }
    }
    &.danger {
        color: $danger;
        &:hover {
            background-color: rgba(252, 0, 0, 0.2);
        }
    }
    &.colored {
        color: $highlight_color;
        &:hover {
            background-color: rgba(252, 192, 0, 0.24);
        }
    }
}
