@import "components/variables.scss";

.button {
    &.normalize {
        font-family: Montserrat, sans-serif !important;
        text-transform: none !important;
    }
    &.light {
        color: $nav_font_color;
        &:hover, &:hover {
            background-color: rgba(252, 192, 0, 0.24);
        }
    }
    &.dark {
        color: $main_color;
        &:hover, &:hover {
            background-color: rgba(252, 192, 0, 0.24);
        }
    }
    &.danger {
        color: $danger;
        &:hover, &:hover {
            &:hover, &:hover {
                background-color: rgba(252, 0, 0, 0.2);
            }
        }
    }
}
