@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/normalize.css";

@font-face {
    font-family: 'Gotham Narrow';
    font-style: normal;
    font-weight: 900;
    src: url('resources/fonts/GothamXNarrow-Bold.otf');
}


@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('resources/fonts/Montserrat-Light.ttf');
}

html {
    font-family: Montserrat, sans-serif;
}
