@import "components/variables.scss";
.main {
    padding: 1.5rem;
    box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.3);
    position: relative;
    h3 {
        font-size: 1.3rem;
        // controls width
        margin-right: 80px;
    }
    h3, h4 {
        font-family: "Gotham Narrow", sans-serif;
        margin-top: 0;
        margin-bottom: .5rem;
    }
    .controls {
        display: flex;
        position: absolute;
        top: .8rem;
        right: .5rem;
    }
    .controls button {
        transition: opacity .2s ease;
        opacity: 0;
    }
    &:hover {
        .controls button {
            opacity: 1;
        }
    }
    .controls button:focus {
        opacity: 1;
    }
    .date {
        font-family: "Gotham Narrow", sans-serif;
        color: $highlight_color;
        margin-bottom: .5rem;
    }
    p {
        font-family: "Montserrat", sans-serif;
        font-size: .8rem;
    }
    .children {
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
    }
}
