.main {
    padding: 1rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h3, h4 {
        margin: 0;
        font-family: "Gotham Narrow", sans-serif;
    }
    h4 {
        margin-bottom: .5rem;
    }
    .controls {
        transition: opacity .2s ease;
        opacity: 0;
    }
    &:hover {
        .controls {
            opacity: 1;
        }
    }
}
