.root {
    overflow: hidden;
    display: flex;
}

.right {
    justify-content: flex-end;
    text-align: right;
}

.center {
    justify-content: center;
    text-align: center;
}

.noWrap {
    white-space: nowrap;
}

/* Each cell should grow equally */
/* But "collapsed" cells should be as small as possible */
.collapsed {
    width: 0.0000000001%!important;
}
