@import "components/variables.scss";

.root {
    position: relative;
    overflow-x: auto;
}

.inactive {
    opacity: 0.5;
}

.table {
    width: 100%;
    border-collapse: collapse;
    td {
        color: #424242;
    }
    th {
        color: #1A1A1A;
    }
    th, td {
        border-bottom: 1px solid $border_color;
        padding: .5rem 1rem;
        font-family: "Montserrat", sans-serif;
    };
}

.actionRow {
    cursor: pointer;
    &:hover{
        background-color: rgba(252, 192, 0, 0.24);
    }
}

.moreActionItem {
    .menuItemText span{
        font-family: Montserrat, sans-serif !important;
    }
    &.default {
        color: $main_color;
        & svg {
            color: $main_color;
        };
        &:hover {
            background-color: rgba(252, 192, 0, 0.24);
        }
    }
    &.danger {
        color: $danger;
        & svg {
            color: $danger;
        };
        &:hover {
            background-color: rgba(252, 0, 0, 0.2);
        }
    }
}

