.main {
    h1 {
        font-family: "Gotham Narrow", sans-serif;
        margin-top: 0;
    }
    p {
        font-family: "Montserrat", sans-serif;
    }
    .buttons {
        float: right;
        margin: 0;
    }
}
