* {
    font-family: "Montserrat", serif;
    font-weight: 200;
}

@page {
    background: url("/static/images/logo.png") no-repeat bottom center;
    background-size: 200px;
}

#footer{
    position: running(footer);
}

p,
h1,
h2,
h3,
span,
div {
    color: #404041;
    margin: 0;
}

.column {
    float: left;
}

.left {
    width: 30%;
    padding-right: 4%;
}

.right {
    width: 65%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.avatar {
    height: 100px;
}

.avatar-wrapper {
    text-align: right;
}

.block {
    margin-top: 40px;
    padding-top: 20px;
    position: relative;
    font-size: 9pt;
}

.block:before {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    background-color: #fcc000;
    width: 30px;
    top: 0;
    left: 0;
}

.block h3 {
    margin-bottom: 20px;
    font-size: 11pt;
    font-weight: bold;
    text-transform: uppercase;
}

.block.types p,
.title {
    font-weight: bold;
    font-size: 9pt;
}

.date,
.date span {
    color: #fcc000;
    font-weight: bold;
}

.user {
    width: 65%;
}

.user p {
    font-size: 20pt;
    font-weight: bold;
}

.user div {
    display: inline-block;
}

.user div span {
    font-size: 11pt;
}

.user div span:after {
    content: ", ";
    display: inline-block;
}

.user div:last-child span:after {
    content: "";
}

.projects h2 span {
    font-size: 11pt;
    font-weight: bold;
}

.projects .positions div {
    display: inline-block;
    font-weight: bold;
}

.projects .positions div p:after {
    content: ", ";
    display: inline-block;
}

.projects .positions div:last-child p:after {
    content: "";
}

.projects .arrow-text {
    margin: 5px 0;
    padding-left: 10px;
    position: relative;
}

.projects .arrow-text:before {
    content: ">";
    position: absolute;
    left: 0;
    top: 0;
    color: #fcc000;
    font-weight: bold;
}

.projects > div {
    margin-bottom: 20px;
    page-break-inside: avoid;
}

.projects .company,
.projects .company span {
    font-weight: 200;
    font-size: 9pt;
}

.projects .arrow-text p {
    display: inline-block;
}

.level-bar {
    height: 3px;
    width: 100%;
    background-color: #b3b3b3;
    position: relative;
    overflow: hidden;
    margin: 10px 0 20px 0;
}

.level-bar span {
    height: 3px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fcc000;
}

.level-bar.level1 span {
    width: 20%;
}

.level-bar.level2 span {
    width: 40%;
}

.level-bar.level3 span {
    width: 60%;
}

.level-bar.level4 span {
    width: 80%;
}

.level-bar.level5 span {
    width: 100%;
}

.technologies > div,
.certificates > div,
.others > div {
    margin-bottom: 5px;
}

.technology-name,
.level-text {
    display: inline-block;
}

.technologies .level-text p {
    font-weight: 200;
}

.project-technologies p:after {
    content: ", ";
    display: inline-block;
}

.project-technologies p:last-child:after {
    content: "";
}
